
/* DEFAULT FONTS - feel free to add any other variables you need here */

:root{

    /* Default font for headlines, headings, bylines, etc. */
    --hed-font-default: 'Barlow', sans-serif; 
    /* Font used for headlines if print design uses serif font */
    --hed-font-serif: 'Faustina', serif;
    /* Default font for body text */
    --body-font: 'PT Serif', serif;
    --covid-purple: #7666ad;
    --covid-yellow: #efe93a;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    background-color: #330000;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
.mag-navbar{
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    background-color: #342F2E;
    padding: 1vh 0;
    box-shadow: 1px 2px 1px;
}
.nbn-logo-nav{
    margin-left: 1vw;
    height: 100%;
   
}
.nbn-path{
    fill: white;
    transition: fill 1s ease;
}
.homepage-link:hover .nbn-path{
    fill: #B6ACD1
}

/* HED, DEK, BYLINE - feel free to play with this! */

.article-top-content{
    margin-top: 15vh;
    text-align: center;
}
.article-hed{
    user-select: none;
    /* replace "default" with "serif" if article uses a serif font in the hed */
    font-family: var(--hed-font-default);
    font-size: 8em;
    margin-bottom: 0;
    text-shadow: 5px 5px 1px var(--covid-purple);
    /* -webkit-text-stroke: 1px var(--covid-yellow); */
    color: white;
    /* transition: all 1s ease; */
    
}
.article-dek{
    font-family: var(--hed-font-default);
    margin-top: 0;
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 300;
    color: white;
}
.article-enter{
    opacity: 0;
    border: 1px solid white;
    color: white;
    font-family: var(--hed-font-default);
    width: fit-content;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    user-select: none;
    cursor: pointer;
    /* transition: all 1s ease; */
}
.article-enter:hover{
    color: black;
    background-color: white;
}
.article-enter:active{
    color: white;
    background-color: black;
}
.article-byline{
    font-family: var(--hed-font-default);
    font-weight: 400;
    margin-top: .5em;
    font-size: 1.5em;
}

/* ARTICLE BODY - customize however you want! */
.article-links{
    width: 70vw;
    margin: auto;
}
.section-article-hed{
    font-family: var(--hed-font-default);
    font-size: 2em;
    margin-bottom: 0;
}
.section-article{
    border-bottom: 1px solid gray;
}
.section-article-dek{
    margin: 0;
    font-family: var(--hed-font-default);
    font-size: 1.5em;
    font-weight: 300;
}
.section-author{
    margin-top: 0;
    font-size: 1.5em;
    font-family: var(--hed-font-serif);
}
.article-link{
    user-select: none;
    text-decoration: none;
    color: white;
    transition: color .5s ease;
}
.article-link:hover{
    color: #E4E0EE;
  
}
.section-left{
    position: relative;
    right: 100vw;
    text-align: left;
}
.section-right{
    position: relative;
    left: 100vw;
    text-align: right;
}

/* CREDITS - shouldn't need to change anything! */

.article-credits{
    text-align: center;
    font-family: var(--hed-font-default);
}
.credits-heading{
    font-size: 2em;
    margin-bottom: .5em;
}
.credits-subhed{
    margin-top: 0;
    margin-bottom: 0;
}
.credits-item{
    margin-top: .5em;
    margin-bottom: 1em;
    font-weight: 400;
}
.credits-link{
    margin-top: 1.5em;
}
.credits-link a{
    color: black;
    transition: color 1s ease;
}
.credits-link a:hover{
    color: #4E2A84;
}


/* MOBILE STYLING - add any mobile specific CSS here but please leave navbar styling as is!*/

@media screen and (max-width: 700px){
    .mag-navbar{
        height: 5vh;
    }
    .article-hed{
        font-size: 3em;
    }
    .article-dek{
        font-size: 1.5em;
    }
    .article-byline{
        font-size: 1em;
    }
    .article-body{
        width: 90vw;
    }

}