
/* DEFAULT FONTS - feel free to add any other variables you need here */

:root{

    /* Default font for headlines, headings, bylines, etc. */
    --hed-font-default: 'Barlow', sans-serif; 
    /* Font used for headlines if print design uses serif font */
    --hed-font-serif: 'Faustina', serif;
    /* Default font for body text */
    --body-font: 'PT Serif', serif;
    --theme-red: #bd202e;
    --theme-blue: #07aab9;
}

.mag-navbar{
    z-index: 199;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    background-color: #342F2E;
    padding: 1vh 0;
    box-shadow: 1px 2px 1px;
}
.nbn-logo-nav{
    margin-left: 1vw;
    height: 100%;
   
}
.nbn-path{
    fill: white;
    transition: fill 1s ease;
}
.homepage-link:hover .nbn-path{
    fill: #B6ACD1
}

/* HED, DEK, BYLINE - feel free to play with this! */

.phone-illo{
    position: absolute;
    top: 7vh;
    right: 0;
    z-index: 0;
}
.article-top-content{
    position: relative;
    z-index: 10;
    margin-top: 15vh;
    text-align: center;
}
.article-hed{
    /* replace "default" with "serif" if article uses a serif font in the hed */
    font-family: var(--hed-font-serif);
    font-size: 4em;
    margin-bottom: 0;
    font-weight: 400;
    color: var(--theme-red);
    
}
.hed-span{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke:1px var(--theme-red);
    text-shadow: 2px 2px var(--theme-blue);

}
.article-dek{
    width: 50vw;
    margin: auto;
    font-family: var(--hed-font-default);
    margin-top: 0;
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 400;
}
.article-byline{
    font-family: var(--hed-font-default);
    font-weight: 400;
    margin-top: .5em;
    font-size: 1.5em;
}
.byline-link{
    color: black;
    transition: color 1s ease;
}
.byline-link:hover{
    color: #4E2A84;
}


/* ARTICLE BODY - customize however you want! */


.article-body{
    z-index: 10;
    position: relative;
    font-family: var(--body-font);
    width: 40vw;
    margin: auto;
    font-size: 1.2em;
}
.article-body p{
    z-index: 10;
    margin-bottom: 2em;
}

.ballot-illo{
    position: absolute;
    left: 0;
    width: 50vw;
    z-index: 4;
    opacity: .2;
}
.ballot-pull{
    position: relative;
}
.start-quote{
    position: absolute;
    top: 0;
    left: 0;
}
.ballot-pull h3{
    margin-bottom: 0;
    font-family: var(--hed-font-serif);
    color: var(--theme-red);
    font-size: 2em;
    font-weight: 400;
}
.ballot-pull h3::before{
    content: url("start_quote.png");
    margin-right: 1em;
}
.ballot-pull h3::after{
    content: url("end_quote.png");
    margin-left: .5em;
}
.ballot-pull h4{
    margin-top: 0;
    font-family: var(--hed-font-default);
    font-weight: 300;
    color: var(--theme-blue);
}
/* CREDITS - shouldn't need to change anything! */

.article-credits{
    text-align: center;
    font-family: var(--hed-font-default);
}
.credits-heading{
    font-size: 2em;
    margin-bottom: .5em;
}
.credits-subhed{
    margin-top: 0;
    margin-bottom: 0;
}
.credits-item{
    margin-top: .5em;
    margin-bottom: 1em;
    font-weight: 400;
}
.credits-link{
    margin-top: 1.5em;
}
.credits-link a{
    color: black;
    transition: color 1s ease;
}
.credits-link a:hover{
    color: #4E2A84;
}


/* MOBILE STYLING - add any mobile specific CSS here but please leave navbar styling as is!*/

@media screen and (max-width: 700px){
    .mag-navbar{
        height: 5vh;
    }
    .article-hed{
        font-size: 3em;
    }
    .article-dek{
        font-size: 1.5em;
    }
    .article-byline{
        font-size: 1em;
    }
    .article-body{
        width: 90vw;
    }
    .phone-illo{
        opacity: .2;
    }
    .ballot-illo{
        width: 100vw;
    }
    .ballot-pull h3{
        width: 80vw;
    }
    .ballot-pull h3::before{
        content: '"';
        /* margin-right: 1em; */
        margin: 0;
    }
    .ballot-pull h3::after{
        content: '"';
        margin: 0;
    }
    .ballot-pull h3{
        font-size: 1.3em;
    }
}