/* DEFAULT FONTS - feel free to add any other variables you need here */

:root {
  /* Default font for headlines, headings, bylines, etc. */
  --hed-font-default: "Barlow", sans-serif;
  /* Font used for headlines if print design uses serif font */
  --hed-font-serif: "Faustina", serif;
  /* Default font for body text */
  --body-font: "PT Serif", serif;
}
body{
  overflow-x: hidden;
}

.mag-navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 7vh;
  background-color: #342f2e;
  padding: 1vh 0;
  box-shadow: 1px 2px 1px;
  z-index: 1;
}
.nbn-logo-nav {
  margin-left: 1vw;
  height: 100%;
}
.nbn-path {
  fill: white;
  transition: fill 1s ease;
}
.homepage-link:hover .nbn-path {
  fill: #b6acd1;
}

/* HED, DEK, BYLINE - feel free to play with this! */

.article-top-content {
  text-align: center;
  background-color: #07aab9;
  padding: 5px;
}
.article-hed {
  /* replace "default" with "serif" if article uses a serif font in the hed */
  font-family: var(--hed-font-default);
  font-size: 3em;
  color: white;
}
.article-dek {
  font-family: var(--hed-font-default);
  margin-top: 0;
  font-size: 1.2em;
  margin-bottom: 0;
  font-weight: 500;
  color: white;
}
.article-byline {
  font-family: var(--hed-font-default);
  font-weight: 400;
  margin-top: 0.5em;
  font-size: 1.5em;
  color: white;
}
.byline-link {
  color: white;
  transition: color 1s ease;
}
.byline-link:hover {
  color: #4e2a84;
}
.circle {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  opacity: 0;
}
.circlediv {
  margin-top: 7vh;
}
.greencircle {
  width: 500px;
  position: absolute;
  left: -250px;
  z-index: -1;
  opacity: 0;
}
.browncircle {
  width: 600px;
  position: absolute;
  right: -300px;
  z-index: -1;
  opacity: 0;
}
.pinkcircle {
  width: 600px;
  position: absolute;
  left: -300px;
  z-index: -1;
  opacity: 0;
}
/* ARTICLE BODY - customize however you want! */

.article-body {
  font-family: var(--body-font);
  width: 50vw;
  margin: auto;
  font-size: 1.2em;
}
.article-body p {
  margin-bottom: 2em;
}

/* CREDITS - shouldn't need to change anything! */

.article-credits {
  text-align: center;
  font-family: var(--hed-font-default);
}
.credits-heading {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.credits-subhed {
  margin-top: 0;
  margin-bottom: 0;
}
.credits-item {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: 400;
}
.credits-link {
  margin-top: 1.5em;
}
.credits-link a {
  color: black;
  transition: color 1s ease;
}
.credits-link a:hover {
  color: #4e2a84;
}

/* MOBILE STYLING - add any mobile specific CSS here but please leave navbar styling as is!*/

@media screen and (max-width: 700px) {
  .mag-navbar {
    height: 5vh;
  }
  .article-hed {
    font-size: 3em;
  }
  .article-dek {
    font-size: 1.5em;
  }
  .article-byline {
    font-size: 1em;
  }
  .article-body {
    width: 90vw;
  }
  .browncircle{
    display: none;
  }
}
