
:root{
    /* Default font for headlines, headings, bylines, etc. */
    --hed-font-default: 'Barlow', sans-serif; 
    /* Font used for headlines if print design uses serif font */
    --hed-font-serif: 'Faustina', serif;
    /* Default font for body text */
    --body-font: 'PT Serif', serif;
    --masthead-blue: #6F9DCF;
    --theme-dark-blue: #213d6e;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    background-color: #Cfe9d7;
}
.loader{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    z-index: 100;
  
}
@keyframes loading-spin{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(3590deg);
    }
}
.loader-text{
    text-align: center;
    font-family: var(--hed-font-default);
    color: white;
    font-size: 3em;
}
.loader-path{
    fill: white;
}
.loader-logo{
    width: 20%;
    margin: 5% 40% 0 40%;
    animation: loading-spin 40s infinite;
}
.top-logo{
    /* width: 20%; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 5;
}
.nbn-logo{
    width: 2.5em;
    margin-right: .5em;


}
.nbn-path{
    fill: black;
}
.nbn-title{
color: black;
font-size: 2em;
font-family: var(--hed-font-default);
}
.article-container{
    box-shadow: 2px 2px 2px black;
    padding-top: 2em;
    width: 70%;
    margin: auto;
    background-color: white;
}
#pregame-container{
    border-top: 20px solid #Bf3f22;
    border-right: 20px solid #Bf3f22;
    border-left: 20px solid #Bf3f22;
}
#df-container{
    border: 20px solid var(--theme-dark-blue);
}
.mag-intro{
    font-family: var(--hed-font-default);
    font-size: 1.3em;
    /* position: absolute; */
    width: 50%;
    top: 0;
    display: flex;
    margin: auto;;
    justify-content: space-between;
    align-items: center;

}
.intro-link{
    cursor: pointer;
    text-align: center;
    user-select: none;

}
.intro-link:hover{
    text-decoration: underline;
}
.mag-section{
    padding: 1em;
    width: 100%;
}
.section-article{
    width: 90%;
    margin: auto;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.article-link{
    text-decoration: none;
    color: black;
}
.article-link:hover{
    color: var(--theme-dark-blue);
}
.section-left{
    text-align: left;
}
.section-right{
    text-align: right;
}
.section-title{
    width: 90%;
    margin: auto;
    user-select: none;
    font-weight: 500;
 
    margin: 0;
    text-align: left;
    font-size: 5em;
    font-family: var(--hed-font-default);

}
#pregame .section-title{
    color: #Bf3f22;
    text-shadow: -1px 2px black;
}
#dancefloor .section-title{
    text-align: right;
    color: var(--theme-dark-blue);
    text-shadow: 1px 2px black;
}
.section-article-hed{
    font-family: var(--hed-font-default);
    font-size: 2em;
    margin-bottom: 0;
}
.section-article-dek{
    margin: 0;
    font-family: var(--hed-font-default);
    font-size: 1.5em;
    font-weight: 300;
}
.section-author{
    margin-top: 0;
    font-size: 1.5em;
    font-family: var(--hed-font-serif);
}

.features-container{


}
.features-heading{
    font-size: 5em;
    text-align: center;
    font-family: var(--hed-font-default);
    user-select: none;
}
.features-article{
    position: relative;
    margin: auto auto 5vh auto;
    width: 70%;
    height: 40vh;
    box-shadow: 2px 2px 2px black;
    user-select: none;
    transition: transform 1s ease;
    transform: scale(1);
    
}
.features-article:hover, .photo-story-article:hover{
    transform: scale(1.1);
}
.photo-story-article{
    position: relative;
    margin: auto auto 5vh auto;
    width: 70%;
    height: 70vh;
    box-shadow: 2px 2px 2px black;
    user-select: none;
    transition: transform 1s ease;
    transform: scale(1);
    background-image: url(https://northbynorthwestern.com/content/images/2020/12/picnic.jpg);
    background-size: cover;
    border: 10px solid #f9b9b7;
}
.photo-hed{
    font-size: 4em;
    color:#cee8d7;
    font-family: var(--hed-font-serif);
    text-align: center;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
}
.photo-hed-span{
color: #8cb2d0;
font-style: italic;
}
.photo-dek, .photo-byline{
    color: white;
    font-family: var(--hed-font-default);
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px black;
}
#anonymity{
    background-color: #213d6e;
    border: 10px solid #Cfe9d7;
}
#policing{
    background-color: white;
    border: 10px solid #9E322F;
}
#two-nu{
    background-color: #F1EFED;
    border: 10px solid darkgray;
}
.policing-hed-span{
    color: #9E322F;
}
.features-illo{
    height: 40vh;
    position: absolute;
    right: 0;
}
.anon-hed{
    text-shadow: 2px 2px black;
    width: 80%;
    margin: 2.5% 0 0 5%;
    font-size: 4em;
    color: white;
    font-family: var(--hed-font-serif);
}
.anon-dek, .anon-byline{
    width: 60%;
    color: white;
    font-family: var(--hed-font-default);
    font-weight: 400;
    margin-top: 0;
    margin-left: 5%;
}
.policing-hed{
    width: 80%;
    margin: 2.5% 0 0 5%;
    font-size: 4em;
    color: black;
    font-family: var(--hed-font-default);
}
.policing-dek, .policing-byline{
    width: 60%;
    color: black;
    font-family: var(--hed-font-default);
    font-weight: 400;
    margin-top: 0;
    margin-left: 5%;
}
.two-nu-hed{
    width: 80%;
    margin: 2.5% 0 0 5%;
    font-size: 3em;
    color: black;
    font-family: var(--hed-font-default);
}
.two-nu-dek, .two-nu-byline{
    width: 60%;
    color: black;
    font-family: var(--hed-font-default);
    font-weight: 400;
    margin-top: 0;
    margin-left: 5%;
}
.features-author-span{
    font-weight: 600;
}

.masthead{
    border-left: 20px solid var(--masthead-blue);
    border-right: 20px solid var(--masthead-blue);
    border-top: 20px solid var(--masthead-blue);
    position: fixed;
    width: 80vw;
    height: 100vh;
    margin: 0 10vw;
    bottom: -200vh;
    background-color: white;
    box-shadow: 2px 2px 2px;
    z-index: 10;
    transition: bottom 2s ease;
    overflow-y: scroll;
    
}
.mast-active{
    bottom: 0;
}
.mast-clickout,.LFE-clickout{
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: black;
    opacity: .6;
}
.clickout-active{
    display: block;
}
.masthead-heading{
    font-weight: 400;
    font-family: var(--hed-font-default);
    font-size: 2.5em;
    text-align: center;
    color: var(--masthead-blue);
    user-select: none;
}
.staff-title{
    user-select: none;
    font-family: var(--hed-font-default);
    background-color: var(--masthead-blue);
    color: white;
    padding: .5em 1em;
    text-align: center;
    width: 8em;
    margin: 0 1em;
}
.staff-subtitle{
    user-select: none;
    color: var(--masthead-blue);
    font-size: 2em;
    font-weight: 400;
    font-family: var(--hed-font-default);
    text-align: center;
}
.staff-position{
    user-select: none;
    text-align: center;
    font-weight: 500;
    font-family: var(--hed-font-default);
}
.staff-name{
    width: 60%;
    margin: auto;
    user-select: none;
    text-align: center;
    font-weight: 400;
    font-family: var(--hed-font-default);
}
.staff-list{
    margin-bottom: 10vh;
}
.masthead-flip{
    display: flex;
    width: fit-content;
    margin: auto;
}
.masthead-arrow{
    cursor: pointer;
    width: 3em;
    transform: scale(1);
    transition: all .5s ease;
}
.masthead-arrow:hover{
    transform: scale(1.2);
    fill: var(--masthead-blue);
}
.masthead-arrow:active{
    transform: scale(1.0);
}
.masthead-exit, .lfe-exit{
    cursor: pointer;
    width: 3em;
    position: absolute;
    right: 1em;
    top: 1em;
    transition: all .5s ease;
    transform: scale(1);
}
.masthead-exit:hover, .lfe-exit:hover{
    transform: scale(1.2);
    fill: var(--masthead-blue);
}
.LFE-container{
    position: fixed;
    border-right: 20px solid var(--masthead-blue);
    width: 40%;
    left: -100vw;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 2px 2px 2px;
    z-index: 10;
    transition: left 1.5s ease;
    overflow-y: scroll;
}
.lfe-active{
    left: 0;
}
.lfe-text{
    width: 70%;
    margin: 10vh auto;
}
.lfe-heading{
    font-family: var(--hed-font-default);
    color: var(--masthead-blue);
}
.lfe-text p{
    font-family: var(--body-font);
    font-size: 1.3em;
}
