
/* DEFAULT FONTS - feel free to add any other variables you need here */

:root{

    /* Default font for headlines, headings, bylines, etc. */
    --hed-font-default: 'Barlow', sans-serif; 
    /* Font used for headlines if print design uses serif font */
    --hed-font-serif: 'Faustina', serif;
    /* Default font for body text */
    --body-font: 'PT Serif', serif;
    --anon-darkblue: #213d6e;
    --anon-red: #Bf3f22;
    --anon-darkred: #9c3018;
    --anon-brightred: #De4400;
    --anon-lightblue: #749ecc;
    --anon-darkturq: #5aa6a0;
}
body{
    background-color: var(--anon-darkblue);
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.mag-navbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    background-color: #342F2E;
    padding: 1vh 0;
    box-shadow: 1px 2px 1px;
    z-index: 10;
}
.nbn-logo-nav{
    margin-left: 1vw;
    height: 100%;
   
}
.nbn-path{
    fill: white;
    transition: fill 1s ease;
}
.homepage-link:hover .nbn-path{
    fill: #B6ACD1
}

/* HED, DEK, BYLINE - feel free to play with this! */

.article-top-content{
    color: white;
    margin-top: 15vh;
    text-align: center;
}
.article-hed{
    /* replace "default" with "serif" if article uses a serif font in the hed */
    font-family: var(--hed-font-serif);
    font-size: 4em;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
    
}
.anon-illo{
    position: absolute;
    top: 7vh;
    right: -1em;
    width: 20vw;
    border-radius: 20px;
    box-shadow: -3px 3px 2px;
}
.accent-box{
    rgba(255, 0, 0, 0, 0);
    border-radius: 10px;
    position: absolute;
   
}
.accent-container{
    position: absolute;
}
.accent-left{
    left: 0;
}
#lb-l1{
    border: 6px solid var(--anon-lightblue);
    width: 10vw;
    height: 30vh;
    left: -1em;
}
#turq-l1{
    border: 6px solid var(--anon-darkturq);
    width: 20vw;
    height: 20vh;
    left: -5em;
    top: 5em;
}
.article-dek{
    width: 50vw;
    font-family: var(--hed-font-default);
    margin: 0 auto 0 auto;
    font-size: 1.5em;

    font-weight: 400;
}
.article-byline{
    font-family: var(--hed-font-default);
    font-weight: 400;
    margin-top: .5em;
    font-size: 1.5em;
}
.byline-link{
    color: white;
    transition: color 1s ease;
}
.byline-link:hover{
    color: #749ecc;
}


/* ARTICLE BODY - customize however you want! */

.content-warning{
    font-style: italic;
    font-weight: 600;
    font-family: var(--hed-font-serif);
}
.anon-divider{
    width: 30%;
    margin: 0 30%;
    user-select: none;
}
.article-body{
    color: white;
    font-family: var(--body-font);
    width: 40vw;
    margin: auto;
    font-size: 1.2em;
}
.article-body p{
    margin-bottom: 2em;
}
.anon-pull{
    font-family: var(--hed-font-serif);
    font-weight: 300;
    font-style: italic;
    background-color: var(--anon-darkred);
    border-radius: 10px;
    padding: .5em 1em;
    box-shadow: -3px 3px 3px black;
    text-shadow: 1px 2px black;
    position: relative;

}
.pull-text{
    margin-bottom: 0;

}

.pull-attribution{
    margin-bottom: 0;
    text-align: right;
}
.pull-mark-top{
}

/* CREDITS - shouldn't need to change anything! */

.article-credits{
    color: white;
    text-align: center;
    font-family: var(--hed-font-default);
}
.credits-heading{
    font-size: 2em;
    margin-bottom: .5em;
}
.credits-subhed{
    margin-top: 0;
    margin-bottom: 0;
}
.credits-item{
    margin-top: .5em;
    margin-bottom: 1em;
    font-weight: 400;
}
.credits-link{
    margin-top: 1.5em;
}
.credits-link a{
    color: white;
    transition: color 1s ease;
}
.credits-link a:hover{
    color:  #749ecc;
}


/* MOBILE STYLING - add any mobile specific CSS here but please leave navbar styling as is!*/

@media screen and (max-width: 700px){
    .mag-navbar{
        height: 5vh;
    }
    .article-hed{
        font-size: 3em;
    }
    .article-dek{
        font-size: 1.5em;
    }
    .article-byline{
        font-size: 1em;
    }
    .article-body{
        width: 90vw;
    }

}