
/* DEFAULT FONTS - feel free to add any other variables you need here */

:root{

    /* Default font for headlines, headings, bylines, etc. */
    --hed-font-default: 'Barlow', sans-serif; 
    /* Font used for headlines if print design uses serif font */
    --hed-font-serif: 'Faustina', serif;
    /* Default font for body text */
    --body-font: 'PT Serif', serif;
}

.mag-navbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    background-color: #342F2E;
    padding: 1vh 0;
    box-shadow: 1px 2px 1px;
}
.nbn-logo-nav{
    margin-left: 1vw;
    height: 100%;
   
}
.nbn-path{
    fill: white;
    transition: fill 1s ease;
}
.homepage-link:hover .nbn-path{
    fill: #B6ACD1
}

/* HED, DEK, BYLINE - feel free to play with this! */

.article-top-content{
    margin-top: 15vh;
    text-align: center;
}
.article-hed{
    /* replace "default" with "serif" if article uses a serif font in the hed */
    font-family: var(--hed-font-default);
    font-size: 4em;
    margin-bottom: 0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.article-dek{
    font-family: var(--hed-font-default);
    margin-top: 0;
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: 500;
}
.article-byline{
    font-family: var(--hed-font-default);
    font-weight: 400;
    margin-top: .5em;
    font-size: 1.5em;
}
.byline-link{
    color: white;
    transition: color 1s ease;
}
.byline-link:hover{
    color: #4E2A84;
}


/* ARTICLE BODY - customize however you want! */

.article-body{
    font-family: var(--body-font);
    width: 60vw;
    margin: auto;
    font-size: 1.2em;
}
.article-body p{
    margin-bottom: 2em;
}


/* CREDITS - shouldn't need to change anything! */

.article-credits{
    text-align: center;
    font-family: var(--hed-font-default);
}
.credits-heading{
    font-size: 2em;
    margin-bottom: .5em;
}
.credits-subhed{
    margin-top: 0;
    margin-bottom: 0;
}
.credits-item{
    margin-top: .5em;
    margin-bottom: 1em;
    font-weight: 400;
}
.credits-link{
    margin-top: 1.5em;
}
.credits-link a{
    color: white;
    transition: color 1s ease;
}
.credits-link a:hover{
    color: #4E2A84;
}

body {
    background: -webkit-linear-gradient(#58a3b1, #f9cb87);
    color:white;
}
.first-letter {
    font-size: 3em;
    font-family: var(--hed-font-default);
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
.author {
    font-family: var(--hed-font-default);
    text-align:right;
}
img {
    opacity:50%;
}
.img1 {
    width:30%;
    float:left;
}
.img2 {
    width:30%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float:right;
}
.img3 {
    width:35%;
    float:left;
}
.img4 {
    width:30%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float:right;
}

.story{
    border:1px solid #D3D3D3;
    margin-top:20px;
    padding:0px 20px 0px 20px;
}
/* MOBILE STYLING - add any mobile specific CSS here but please leave navbar styling as is!*/

@media screen and (max-width: 700px){
    .mag-navbar{
        height: 5vh;
    }
    .article-hed{
        font-size: 3em;
    }
    .article-dek{
        font-size: 1.5em;
    }
    .article-byline{
        font-size: 1em;
    }
    .article-body{
        width: 90vw;
    }

}